<h1>Encriptación</h1>
<hr>
<div class="form-group">
    <label for="">Escribe tu mensaje:</label>
    <div class="input-group">
        <input class="form-control" type="text" [(ngModel)]="msg">
        <div class="input-groupt-append">
            <button class="btn btn-outline-primary" (click)="encrypt()" [disabled]="!msg">Encriptar</button>
        </div>
    </div>
</div>

<div *ngIf="cryptInfo">
    <div class="form-group">
        <label for="">Llave:</label>
        <input type="text" class="form-control" readonly [value]="cryptInfo.key">
    </div>
    <div class="form-group">
        <label for="">Encriptado:</label>
        <div class="text-center">
            <img [src]="cryptInfo.image | domSecure" class="img-fluid">
            <a [href]="cryptInfo.image | domSecure" class="btn btn-lg btn-success ml-3" download="encriptado.png">Descargar</a>
        </div>
    </div>
</div>