<h1>Encriptación</h1>
<hr>
<div class="form-row">
    <div class="form-group w-75">
        <label for="">Tu mensaje:</label>
        <input class="form-control" type="text" [(ngModel)]="msg">
    </div>
    <div class="form-group w-25">
        <label for="">Duración:</label>
        <input type="number" class="form-control" [(ngModel)]="time" placeholder="Minutos">
    </div>
</div>
<div class="form-group">
    <button class="btn btn-outline-primary" (click)="encrypt()" [disabled]="!msg">Encriptar</button>
</div>

<div *ngIf="cryptInfo">
    <div class="form-group">
        <label for="">Llave:</label>
        <input type="text" class="form-control" readonly [value]="cryptInfo.key">
    </div>
    <div class="form-group">
        <label for="">Expira el:</label>
        <input type="text" class="form-control" [value]="cryptInfo.date | date:'long'">
    </div>
    <div class="form-group">
        <label for="">Encriptado:</label>
        <div class="text-center">
            <img [src]="cryptInfo.image | domSecure" class="img-fluid">
            <a [href]="cryptInfo.image | domSecure" class="btn btn-lg btn-success ml-3" download="encriptado.png">Descargar</a>
        </div>
    </div>
</div>