<div>
    <h1>Desencriptación</h1>
    <hr>
    <div class="form-group">
        <label for="">Llave:</label>
        <input type="text" class="form-control" [(ngModel)]="key">
    </div>
    <div class="form-group">
        <label for="">Mensaje encriptado:</label>
        <div class="row">
            <div class="w-50">
                <input type="file" class="form-control-file" accept=".png" (change)="convertFileToString($event.target.files[0])">
            </div>
            <div class="w-50" *ngIf="img">
                <img [src]="img | domSecure">
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="decrypt()" [disabled]="!key || !img">Desencriptar</button>
    </div>
</div>

<div *ngIf="msg">
    <div class="form-group">
        <label for="">Tu mensaje es:</label>
        <input type="text" class="form-control" [value]="msg" readonly>
    </div>
</div>