<div>
    <h1>Desencriptación</h1>
    <hr>
    <div class="form-group">
        <label for="">Llave:</label>
        <input type="text" class="form-control" [(ngModel)]="key">
    </div>
    <div class="form-group">
        <label for="">Mensaje encriptado:</label>
        <div class="row">
            <div class="w-75">
                <input type="file" class="form-control-file" accept=".png" (change)="convertFileToString($event.target.files[0])">
            </div>
            <div class="w-25" *ngIf="img">
                <img [src]="img | domSecure">
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="decrypt()" [disabled]="!key || !img || loading">
            <span *ngIf="!loading; else load"><i class="fas fa-unlock"></i> Desencriptar</span>
            <ng-template #load><i class="fas fa-circle-notch fa-spin"></i> Cargando</ng-template>
        </button>
    </div>
</div>

<div *ngIf="cryptInfo">
    <div class="form-group">
        <label for="">Creado por:</label>
        <input type="text" class="form-control" [value]="cryptInfo.username" readonly>
    </div>
    <div class="form-group">
        <label for="">El mensaje es:</label>
        <input type="text" class="form-control" [value]="cryptInfo.message" readonly>
    </div>
</div>