<div class="row btn-group-lg">
    <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#encrypt" aria-expanded="false" aria-controls="encrypt">
        Encriptación
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#decrypt" aria-expanded="false" aria-controls="decrypt">
    Desencriptación
  </button>
</div>

<div class="row pt-5">
    <div class="col-6 collapse" id="encrypt">
        <app-encrypt></app-encrypt>
    </div>
    <div class="col-6 collapse" id="decrypt">
        <app-decrypt></app-decrypt>
    </div>
</div>